/* =============================================================================
  Reset
============================================================================= */

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  //font-size: 14px;
  //line-height: 1.42857143;
  //color: #333;
  //background-color: #fff;
}

.test-wrapper{
  padding: 10px;
}

/* =============================================================================
  Scroll hidden
============================================================================= */

::-webkit-scrollbar {
  display: none;
}

/* =============================================================================
  Default
============================================================================= */

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.text-center{
  text-align: center;
}

//.main{
//  @include main;
//}
